In [1]:
from __future__ import annotations
import pandas as pd
import os

In [2]:
data_dir = os.path.join(os.path.dirname('file'))
data_dir = os.path.join("data")
data_dir = os.path.abspath(data_dir)

hydro_dir = os.path.join(data_dir,'hydro')
climate_dir = os.path.join(data_dir,'climate')

In [13]:
def csv_dir_to_df(dir,prefix,cols):
    result = {}

    for file in os.listdir(dir):
        if file.startswith(prefix) and file.endswith(".csv"):
            file_path = os.path.abspath(os.path.join(dir, file))
            
            result[file] = pd.read_csv(file_path,header = None,names = cols,encoding="ANSI")
            
    return result

In [52]:
hydro_data: pd.DataFrame
climate_data: pd.DataFrame

hydro_data = csv_dir_to_df(hydro_dir,"mies",["Code","Name","River","Water_year","Water_month","Extrema","Height","Q","Water_temp","Month"])
climate_data = csv_dir_to_df(climate_dir,"k_m_d_",
["Code","Name","Year","Month","Abs_max_temp","State_tmax","Mean_max_temp","State_tmeanmax","Abs_min_temp","State_tmin","Mean_min_temp",
"State_tmeanmin","Mean_temp","State_mean_temp","Min_ground_temp","State_min_tground","Rain_sum","State_rain_sum","Max_daily_rain","Status_max_dayrain",
"First_day_max_rain","Last_day_max_rain","Max_snow","Status_max_snow","Days_w_snow_on_gnd","Days_w_rain","Days_w_snow"])

for hdata in hydro_data:
    df = hydro_data[hdata]
    df.drop(columns=["Code"])
    df.drop(columns=["Q"])
    df.drop(columns=["River"])

    df.drop(df[df["Name"] != "KRAKÓW-BIELANY"].index, inplace=True)
    df.drop(df[df["Extrema"] != 2].index, inplace=True)

for cdata in climate_data:
    df = climate_data[cdata]
    df.drop(columns=["Abs_max_temp"],inplace=True)
    df.drop(columns=["State_tmax"],inplace=True)
    df.drop(columns=["Mean_max_temp"],inplace=True)
    df.drop(columns=["State_tmeanmax"],inplace=True)
    df.drop(columns=["Abs_min_temp"],inplace=True)
    df.drop(columns=["State_tmin"],inplace=True)
    df.drop(columns=["Mean_min_temp"],inplace=True)
    df.drop(columns=["State_tmeanmin"],inplace=True)
    df.drop(columns=["Min_ground_temp"],inplace=True)
    df.drop(columns=["State_min_tground"],inplace=True)
    df.drop(columns=["Max_daily_rain"],inplace=True)
    df.drop(columns=["Status_max_dayrain"],inplace=True)
    df.drop(columns=["First_day_max_rain"],inplace=True)
    df.drop(columns=["Last_day_max_rain"],inplace=True)
    df.drop(columns=["Max_snow"],inplace=True)
    df.drop(columns=["Status_max_snow"],inplace=True)
    df.drop(columns=["Days_w_snow_on_gnd"],inplace=True)
    df.drop(columns=["Days_w_rain"],inplace=True)
    df.drop(columns=["Days_w_snow"],inplace=True)

    df.drop(df[df["Name"] != "KRAKÓW-OBSERWATORIUM"].index, inplace=True)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [49]:
hydro_keys = list(hydro_data.keys())
print(hydro_data[hydro_keys[0]])

            Code            Name      River  Water_year  Water_month  Extrema  \
12801  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            1        1
12802  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            1        2
12803  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            1        3
12804  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            2        1
12805  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            2        2
12806  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            2        3
12807  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            3        1
12808  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            3        2
12809  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            3        3
12810  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            4        1
12811  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            4        2
12812  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            4        3
12813  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            5        1
12814  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            5        2
12815  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            5        3
12816  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            6        1
12817  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            6        2
12818  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            6        3
12819  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            7        1
12820  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            7        2
12821  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            7        3
12822  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            8        1
12823  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            8        2
12824  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            8        3
12825  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            9        1
12826  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            9        2
12827  150190340  KRAKÓW-BIELANY  Wisła (2)        2010            9        3
12828  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           10        1
12829  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           10        2
12830  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           10        3
12831  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           11        1
12832  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           11        2
12833  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           11        3
12834  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           12        1
12835  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           12        2
12836  150190340  KRAKÓW-BIELANY  Wisła (2)        2010           12        3

       Height          Q  Water_temp  Month
12801     130  99999.999         5.1     11
12802     181  99999.999         7.0     11
12803     368  99999.999         8.3     11
12804     120  99999.999         0.6     12
12805     147  99999.999         4.3     12
12806     176  99999.999         7.9     12
12807     115  99999.999         1.1      1
12808     152  99999.999        99.9      1
12809     197  99999.999         3.6      1
12810     118  99999.999        99.9      2
12811     159  99999.999        99.9      2
12812     292  99999.999        99.9      2
12813     131  99999.999        99.9      3
12814     176  99999.999        99.9      3
12815     281  99999.999        99.9      3
12816     127  99999.999        99.9      4
12817     162  99999.999        99.9      4
12818     233  99999.999        99.9      4
12819     138  99999.999        99.9      5
12820     371  99999.999        99.9      5
12821     957  99999.999        99.9      5
12822     130  99999.999        99.9      6
12823     239  99999.999        99.9      6
12824     598  99999.999        99.9      6
12825     125  99999.999        99.9      7
12826     166  99999.999        99.9      7
12827     406  99999.999        99.9      7
12828     124  99999.999        99.9      8
12829     176  99999.999        99.9      8
12830     472  99999.999        99.9      8
12831     136  99999.999        99.9      9
12832     261  99999.999        99.9      9
12833     719  99999.999        99.9      9
12834     128  99999.999        99.9     10
12835     157  99999.999        99.9     10
12836     216  99999.999        99.9     10

In [50]:
climate_keys = list(climate_data.keys())
print(climate_data[climate_keys[0]])

          Code                  Name  Year  Month  Mean_temp  State_mean_temp  \
840  250190390  KRAKÓW-OBSERWATORIUM  2010      1       -5.6              NaN
841  250190390  KRAKÓW-OBSERWATORIUM  2010      2       -1.2              NaN
842  250190390  KRAKÓW-OBSERWATORIUM  2010      3        4.0              NaN
843  250190390  KRAKÓW-OBSERWATORIUM  2010      4        9.8              NaN
844  250190390  KRAKÓW-OBSERWATORIUM  2010      5       13.7              NaN
845  250190390  KRAKÓW-OBSERWATORIUM  2010      6       18.1              NaN
846  250190390  KRAKÓW-OBSERWATORIUM  2010      7       21.4              NaN
847  250190390  KRAKÓW-OBSERWATORIUM  2010      8       19.3              NaN
848  250190390  KRAKÓW-OBSERWATORIUM  2010      9       12.8              NaN
849  250190390  KRAKÓW-OBSERWATORIUM  2010     10        6.1              NaN
850  250190390  KRAKÓW-OBSERWATORIUM  2010     11        7.0              NaN
851  250190390  KRAKÓW-OBSERWATORIUM  2010     12       -4.2              NaN

     Rain_sum  State_rain_sum
840      37.2             NaN
841      41.8             NaN
842      26.5             NaN
843      40.1             NaN
844     284.7             NaN
845     154.3             NaN
846     178.9             NaN
847     153.0             NaN
848      96.4             NaN
849      11.1             NaN
850      58.9             NaN
851      43.4             NaN